
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */

.btn-primary{
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 600;
}

main > section{
    margin-top: 130px;
}

/* dark-2 color */
.dark-2{
    color: #424242;
}

/* dark-3 color */
.dark-3{
    color: #727272;
}

/* navbar style area */
#nav-parent{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.nav-list{
    display: flex;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.brand{
    color: #131313;
    font-size: 3rem;
}
.header-bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header related style */

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 35px;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-discription{
    line-height: 26px;
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}


/* Temas section related style */
#teams{
    display: flex;
    align-items: center;
    gap: 73px;
}

.quick-list{
    max-width: 537px;
}
.section-title{
    font-size: 2.8rem;
}
.features{
    color: #FF900E;
}
.explore-btn{
    margin-top: 32px;
}
.teams-discription{
    line-height: 26px;
    margin-top: 24px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* media quary related style for small device */
@media screen and (max-width: 576px){
    #nav-parent{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .nav-list{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 18px;
    }
    .brand{
        margin-top: 50px;
    }
    #teams{
        flex-direction: column;
    }
    .teams-image{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-list{
        text-align: center;
    }
}

/* media quary for meduim device */
@media screen and (min-width: 576px) and (max-width: 992px){
    #teams{
        flex-direction: column;
    }
    .quick-list{
        text-align: center;
    }
}